---
import Layout from '../layouts/Layout.astro';
import NoiseAscii from "../components/NoiseAscii.astro";
---

<Layout>
    <div class="aspect-square sm:aspect-video w-full">
        <NoiseAscii/>
    </div>
</Layout>
