---
import Header from "@/components/Header.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro Basics</title>
	</head>
	<body class="bg-dark text-light p-8 font-mono">
		<Header />
		<slot />
	</body>
</html>