---
import "../styles/global.css";
import Header from "../components/Header.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>LITERALLY_</title>
	</head>
	<body class="bg-dark text-light p-8 sm:p-16 font-mono flex flex-col gap-8 divide-y divide-light/50">
		<Header />
		<slot />
	</body>
</html>